/*Egész oldal*/

body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #08c1ff, #ff36f2,#f3491ecb,#ff36f2,#08c1ff);
}

/*Sidebar és a menuitemek*/

.menuitem{
    display: flex;
    align-items: center;
    justify-content: center; /* Vízszintesen is középre igazítja az elemeket */
    padding: 10px;
    font-size: 20px;
    height: 50px;
    white-space: nowrap;
}

.menu-text{
    visibility: hidden;
    font-size: 20px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    width: 100%;  
}

.Sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    transition: width 0.3s;
    overflow-x: hidden;
    white-space: nowrap;
    flex-direction: column;
}

.Sidebar:hover {
    width: 150px;
}

.Sidebar:hover .menu-text{
    visibility: visible;
}
.Sidebar:hover .icon{
    visibility: hidden;
}

.icon{
    
    font-size: 30px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    width: 100%;
}

/*Body rész*/

.nagydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.belsodiv{
    width: 400px;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 15%;
    border: 1px solid #ccc; 
}

/*Szöveg és icon formázás*/

.regist{
    text-decoration: underline;
    font-size: 40px;
}


.bemenet{
    margin-bottom: 15px;
    height: 40px;
    width: 210px;
    font-size: 20px;
}

.radiochoice{
    font-size: 20px;
    font-weight: 600;
}

.gender-selection {
    display: flex; 
    align-items: center;
}
.gomb{
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(8, 193, 255, 0);
    height: 40px;
}

.register{
    width: 200px;
    height: 40px;
    font-size: 20px;
}

.jelszo{
    margin-bottom: 15px;
    font-size: 17px;
}

#agazatok{
    width: 200px;
    height: 40px;
    font-size: 16px;
}

/*ICON formázások*/

img{
    width: 30px;
    height: auto;
}

.texticon{
    margin-bottom: 5px;
}

#age{
    margin-top: 10px;
}
